.authorsection .home-moblie-title{
    padding-left: 15px;
}
.author-slide{
    display: flex;
    flex-wrap: wrap;
    margin: 0px auto 30px;
    align-items: center;
}
.list-author{
    padding: 5px;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
}
.list-author:hover{
    color: #f5a623;
    border: 1px solid #f5a623;
}
.list-author:hover .author-item{
    color: #f5a623;
}
.author-item{
    display: block;
    text-align: center;
    padding: 5px;
    color: rgb(51, 51, 51);
}

.author-item .img-author{
    margin-bottom: 10px;
}
.author-item .img-author img{
    height: 120px;
}
.author-item .name-author{
    font-size: 1rem;
    line-height: 1.2;
    text-align: center;
    overflow: hidden;
    min-height: 28px;
}