.page-link{
    color: rgb(51, 51, 51) !important;
    box-shadow:none !important;
}

.page-link:hover{
    background-color: #e67e22 !important;
    color: #fff !important;
    opacity: 0.6;
}
.pagination .active a{
    background-color: #e67e22 !important;
    color: #fff !important;
    outline: none !important;
    border:1px solid #ccc !important;
}
.details-silde{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 20px;
}
/* sort by mount or by trend */
.select-sort{
    height: 85%;
    font-size: .9rem;
    padding-left: 5px;
    padding-top: 1px;
    margin-left: 5px;
}
.sort{
    display: flex; 
    margin-top: 15px;
    margin-bottom: 15px;
}
.group-sel{
    margin-left: 10px;
}


