.loginsection input,select, textarea {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}
.header-menu .sidebar-menu:hover .menu-wrap{
  display: block;
  z-index: 2;
}
.tab-pane{
    width: 90%;
    margin: 0 auto;
}
.box-login{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 0px auto 30px;
}
.title-login{
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 1rem;
    font-family: 'Pacifico', cursive;
}
.home-moblie-title{
  text-transform: uppercase;
  margin: 20px 0px 10px 0px;
  font-size: 1.3rem;
}


.page-breadcrumb{
    background-color: #efefef;
}

#breadcrumb {
    list-style: none;
    display: inline-block;
    overflow: hidden;
    background: url(../img/bg.jpg);
    padding: 0px;
    margin-bottom: 0px;
}
#breadcrumb .icon {
    font-size: 14px;
}
#breadcrumb li {
    float: left;
}
#breadcrumb li a {
    color: #666;
    display: block;
    background: #e1e1e1;
    text-decoration: none;
    position: relative;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 5px;
    text-align: center;
    margin-right: 23px;
}
#breadcrumb li a.active{
    color: #f5a623;
}

#breadcrumb li:nth-child(even) a {
    background-color: #efefef;
}
#breadcrumb li:nth-child(odd) a {
    background-color: #efefef;
}
#breadcrumb li:nth-child(even) a:before {
    border-color: #efefef;
    border-left-color: transparent;
}
#breadcrumb li:nth-child(even) a:after {
    border-left-color: #efefef ;
}
#breadcrumb li:first-child a {
    padding-left: 15px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
    border: none;
}
#breadcrumb li:last-child a {
    padding-right: 15px;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
    margin-right: 0px;
}
#breadcrumb li:last-child a:after {
    border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
    content: "";
    position: absolute;
    top: 0;
    border: 0 solid #efefef;
    border-width: 20px 10px;
    width: 0;
    height: 0;
}
#breadcrumb li a:before {
    left: -20px;
    border-left-color: transparent;
}
#breadcrumb li a:after {
    left: 100%;
    border-color: transparent;
    border-left-color: #efefef;
}
#breadcrumb li a:hover {
    background-color: #1abc9c;
    color: rgb(255, 255, 255);
}
#breadcrumb li a:hover:before {
    border-color: #1abc9c;
    border-left-color: transparent;
}
#breadcrumb li a:hover:after {
    border-left-color: #1abc9c;
}
#breadcrumb li a:active {
    background-color: #16a085;
}
#breadcrumb li a:active:before {
    border-color: #16a085;
    border-left-color: transparent;
}
#breadcrumb li a:active:after {
    border-left-color: #16a085;
}
