a,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
}

a:active {
  outline: none;
}

button,
button:hover {
  -webkit-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

a:hover {
  cursor: pointer;
  background: transparent;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

input[type="button"],
textarea {
  outline: none;
  box-shadow: none !important;
  border: 1px solid #ccc !important;
}

body {
  font-family: "Crimson Pro", serif;
  font-size: 15px;
  overflow-y: scroll;
}

.container {
  max-width: 1230px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
}

.header-main {
  background-color: rgb(255, 255, 255);
}

input#search, input#mobile-search:hover,
input#search, input#mobile-search:focus,
input#search, input#mobile-search:active,
input#search-btn, #mobile-search-btn:hover,
input#search-btn, #mobile-search-btn:focus,
input#search-btn, #mobile-search-btn:active {
  outline: none;
}

input#search, input#mobile-search {
  width: 80%;
  height: 40px;
  background: white;
  padding-left: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  line-height: 40px;
  border: solid 1px #189EFF;
  border-right: none;
}

#search-btn, #mobile-search-btn{
  position: absolute;
  border: none;
  background: #189EFF;
  width: 20%;
  height: 40px;
  color: white;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
#search-form-mobile{
  display: none;
}

.user-select2way{
  position: relative;
}
.user-select2way .icon-2way{
  position: relative;
  color: #999;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  transition: all,.3s;
}
.user-select2way .user-name{
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
  transition: all,.3s;
}
.user-select2way .user-name span{
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  color: #333;
  transition: all,.3s;
  margin-left: 10px;
}

.dropdown{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  padding-top: 5px;
  padding-right: 0 !important;
}

.cart {
  position: relative;
  margin-left: 20px;
}
.cart .cart-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
  transition: all,.3s;
}
.cart .cart-toggle .cart-icon {
  position: relative;
  color: #999;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  transition: all,.3s;
}
.cart .cart-toggle .cart-icon .cart-amount {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  font-size: .6875rem;
  background: #f5a623;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: -5px;
  z-index: 3;
  transition: all,.5s;
}
.cart .cart-toggle span {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1;
  color: #333;
  transition: all,.3s;
  margin-left: 10px;
}

.dropdown-menu {
  width: 250px !important;
}

.user-icon:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-menu li {
  margin: 10px;
  border-radius: 4px;
}

.dropdown-menu li:hover {
  opacity: 0.6;
}


/* _______________________________________modal-style_____________________________________________________________ */

.modal-img {
  background-image: url(../img/graphic-map.png);
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto;
}

.modal-pharse {
  width: 830px;
  overflow: auto;
  border-radius: 5px;
  margin: 0 auto;
}

.tab-box {
  width: 500px;
  height: 580px;
  float: right;
  background-color: white;
}

.description-box {
  width: 330px;
  height: 580px;
  float: left;
  background-color: white;
}

.tab {
  overflow: hidden;
  margin-top: 20px;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  padding: 10px 40px;
  font-size: 17px;
}

.tab button.active {
  color: #189EFF;
  border-bottom: solid 2px #189EFF;
}

.tab-item {
  display: none;
  margin: 20px;
}

.datepicker:last-child{
  position: fixed;
}

.remodal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 30px;
}

/* _______________________________________menu-style_____________________________________________________________ */

.header-menu {
  background: #189EFF;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
}

.header-wrap {
  display: flex;
  flex-direction: row;
  color: white;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
}

.header-menu .items-header {
  list-style-type: none;
  list-style: inside;
  text-align: center;
}

.header-menu .items-header li {
  display: inline-table;
  position: relative;
}

.header-menu .items-header li:not(:first-child) {
  padding-left: 50px;
}

.header-menu .items-header li a {
  color: white;
  text-decoration: none;
  display: block;
}

.header-menu .items-header li > .sub-menu {
  display: none;
  position: absolute;
  width: 180px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.header-menu .items-header li > .sub-menu > li a:hover{
  color: #f5a623;
}

.header-menu .items-header li:hover .sub-menu {
  display: block;
  z-index: 900;
}
/* the arrow under support-list */
.header-menu .items-header > li:hover > .support-list:after {
  content: "";
  height: 0;
  width: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  position: absolute;
  bottom: -1px;
  left: 65%;
  z-index: 100;
}

.header-menu .items-header li > .sub-menu li a {
  color: #222;
  font-weight: normal;
}

.header-menu .items-header li > .sub-menu li {
  width: 160px;
  text-align: justify;
  padding: 0;
}

.header-menu .items-header li > .sub-menu li:not(:last-child) {
  border-bottom: #ccc solid 1px;
}

.header-menu .sidebar-menu .btn-sidebar {
  width: 245px;
  height: 40px;
  background: #189EFF;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 0 10px;
}
.home-menu{
  width: 245px;
  position: relative;
}
.menu-link {
  width: 245px;
  background: #fff;
  border: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  position: relative;
  padding: 0;
  display: block;
  margin: 0;
  font-weight: normal;
}

.menu-wrap{
  display: none;
}

/* enable when items page */
/* .header-menu .sidebar-menu:hover .menu-wrap{
  display: block;
} */

.has-sub > a {
  display: block;
  position: relative;
  line-height: 20px;
  padding: 7px 15px;
  color: #222;
}

.has-sub:not(:last-child) > a {
  border-bottom: 1px solid #ccc;
}

ul.menu-link > li.has-sub:hover > a {
  color: #fff;
  background: #189EFF;
  opacity: 0.95;
  z-index: 200;
}

/* triangle next to hover bar */
ul.menu-link > li.has-sub:hover > a::after {
  opacity: 0.95;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: -34px;
  height: 0px;
  margin: auto;
  border-top: 17px solid transparent;
  border-left: 17px solid #189EFF;
  border-bottom: 17px solid transparent;
  border-right: 17px solid transparent;
}

.menu-link .mega-sub {
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  z-index: 100;
  width: 650px;
  height: 450px;
  background: #fff;
  color: #222;
  padding: 10px 30px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
  border-bottom-right-radius: 3px;
}

.header-menu .menu-link .has-sub:hover .mega-sub {
  display: block;
}
.home-flex .menu-link .has-sub:hover .mega-sub {
  display: block;
  padding-top: 19px;
}

ul.menu-link > li.has-sub .mega-sub .title {
  display: block;
  color: #189EFF;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin: 0;
}

/* organized into tables */
ul.menu-link > li.has-sub .mega-sub .mega-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -5px;
  padding: 0;
}

.header-menu ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col {
  width: 100%;
  line-height: 1.5;
}
.home-flex ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col {
  width: 100%;
  margin-top: 7px;
}

ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}

ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col ul li {
  width: 50%;
  padding: 0 10px;
  margin-bottom: 10px;
  height: 20px;
}

ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col ul li a {
  color: #222222;
}

ul.menu-link > li.has-sub .mega-sub .mega-row .mega-col ul li:hover a {
  color: #f5a623;
}
.home-banner-wrap{
  width: calc(100% - 245px);
  display: flex;
  flex-wrap: wrap; 
}

.home-banner{
  width: 100%;
  max-width: 715px;
}

#carouselBanner{
  z-index: 90;
}
.carousel-inner{
  max-height: 450px;
  position: relative;
  left: 0px;
  top: 0px;
  opacity: 1;
}
.carousel-item{
  width: 100%;
  max-height: 450px;
}
.carousel-item img{
  width: 100%;
  height: 100%;
}
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
.carousel-indicators .active{
  background-color: #f5a623;
}
#carouselExampleIndicators{
  z-index: 90;
}
.carousel-control-prev:hover{
  color: #f5a623;
}

.banner-ads{
  width: calc(100% - 715px);
  height: 450px;
}
.banner-ads .item .img img{
  height: 148px;
  width: 206px;
}

.banner-ads .item .img img{
  max-width: 100%;
  max-height: 100%
}


/* _______________________________________home-section_____________________________________________________________ */

.home-title {
  text-transform: uppercase;
  margin: 20px 0px 10px 0px;
  font-size: 1.3rem;
}

.product-slide{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
}

@media (min-width: 1200px){
.col-custom {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (max-width: 1180px){
  .banner-ads {
    display: none;
  }

}

@media (min-width: 992px) {
    #search-form-mobile{
      display: none !important;
    }
}

@media (max-width: 992px) {
  .page-breadcrumb{
    display: none;
  }
  .header-menu{
    display: none;
  }
  .home-menu{
    display: none;
  }
  .btn-mobile-bar{
    display: flex !important;
  }
  .cart-mobile{
    display: flex !important;
  }
  .search-mobile-btn{
    display: flex !important;
  }
  .box-search{
    padding: 0;
  }
  #search-form{
    display: none;
  }
  .dropdown{
    display: none;
  }
  .product-item .img-book {
    height: 180px;
  }
  .home-banner-wrap{
    width: 100%;
  }
  .home-banner-wrap .home-banner {
    max-width: 100%;
  }
  .sitelogo {
    text-align: center;
  }
} 
@media (max-width: 768px){
  .product-slide{
    padding: 0;
    margin: 0 0px 15px;
  }
  .product-item{
    position: relative;
    margin-bottom: 10px;
  }
  .product-item .img-book {
    max-height: 150px;
  }
  .product-item .caption .price .promotionsale {
    top: 10px;
    right: 10px;
  }
}
@media (max-width: 576px){
  .forgotpasswordmodal{
    max-width: 340px !important;
  }
}

.product-item {
  border-top: none;
  border-left: none;
  display: block;
  padding: 20px 10px 10px;
  color: #333;
  background: #fff;
  transition: all,.3s;  
}
.product-item:hover .name {
  color: #f5a623;
  min-height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-item .img-book {
  position: relative;
  height: 200px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;
}
.product-item .img-book img {
  width: auto;
  vertical-align: middle;
  height: 100%;
  max-height: 100%;
  transition: all,.5s;
}
.product-item .caption .name {
  font-size: 1rem;
  min-height: 42px;
  font-weight: 400;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-item .caption .author {
  font-size: .8rem;
  color: #999;
  margin-bottom: 10px;
}
.product-item .caption .price {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  margin-bottom: 10px;
}
.product-item .caption .price .new {
  font-size: .875rem;
  color: red;
  font-weight: 500;
  line-height: 1;
  margin-right: 10px;
}
.product-item .caption .price .old {
  font-size: .6rem;
  color: #999;
  line-height: 1;
}
.product-item .caption .price .promotionsale {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: .8rem;
  font-weight: 700;
  background: #f5a623;
  color: #fff;
  line-height: 16px;
  padding: 0 3px;
  border-top-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 0;
}
.product-item .caption .price .promotionsale:before {
  content: '';
  display: block;
  border: 8px solid transparent;
  border-left: none;
  border-right-color: #f5a623;
  position: absolute;
  top: 0;
  left: -8px;
}
.view-more{
  cursor: pointer;
  width: 200px;
  color: #f5a623 !important;
  font-size: 15px;
  text-align: center;
  padding: 7px 16px;
  border-radius: 5px;
  border: 1px solid #f5a623;
  margin: 20px auto;
}

/* _______________________________________background-image_____________________________________________________________ */


main{
  background: url('../img/bg.jpg') center repeat;
} 

/* _______________________________________background-image_____________________________________________________________ */
.view-more:hover {
  color: rgb(255, 255, 255) !important;
  background-color: #f5a623;
  border-color: #f5a623;
  opacity: 0.95;
}
.customer-satisfaction{
  display: flex;
  align-items: center;
  align-content: center;
}

.star-rating {
  font-size: .6rem;
  color: #dedddc;
}

.star-rating .checked{
  color: #ffc107;
}
.comment{
  font-size: .6875rem;
  color: #999;
  margin-left: 6px;
}

/* _______________________________________swing-hover_____________________________________________________________ */

@-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.book:hover .img-book {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}

/* _______________________________________swing-hover_____________________________________________________________ */
.homesection-3d{
  padding-bottom: 40px;
}

.homesection-4th{
  background-color: rgb(255, 255, 255);
}

.recommend-slide{
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden; 
  margin-bottom: 40px;
}

.recommendations{
  padding: 0 10px;
  width: 25%;
}
.ads-banner{
  display: block;
}
.ads-banner img {
  width: 100%;
}
/* _______________________________________footer_____________________________________________________________ */
footer .footer-feature {
  background: #189EFF;
  padding: 20px 0 0;
}
.icon-footer{
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255); 
}
.row{
  display: flex;
  flex-wrap: wrap;
  width: 100%; 
}
.feature-col {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  align-content: center;
}

.feature-col .caption {
  font-size: .9rem;
  width: calc(100% - 50px);
  color: #fff;
  padding-top: 5px;
  padding-left: 10px;
}

footer .footer-title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: rgb(51, 51, 51);
}
.footer-about li i{
  opacity: .7;
}
.small-text{
  display: block;
  color: rgb(51, 51, 51);
  margin-bottom: 7px;
}
.small-text:hover{
  color: #f5a623;
}
.pay-row{
  display: block;
}
.icon-payment{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  vertical-align: middle;
  max-width: 100%;
}
.connect-us{
  display: block;
}
.icon-connect{
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 7px;
  vertical-align: middle;
  max-width: 100%;
}

footer .footer-bottom {
  border-top: 1px solid #e6e6e6;
  padding: 20px 0;
}

.forgot-password{
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 10px;
  padding-bottom: 50px;
}
.forgotpasswordmodal{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 310px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: white;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 30px;
}

.input-forgot{
    width: 100%;
    height: 40px;;
    margin-bottom: 3px;
    padding-left: 8px;
    border-radius: 4px;
    box-shadow: none;
    background: white;
    outline: none;
    border: 1px solid #e6e6e6;
}

.btn-submit{
    width: 100%;
    height: 40px;
    background-color:#f5a623;
    color: rgb(51, 51, 51);
    border-radius: 4px;
}
.btn-submit:focus{
    outline: 0;
    box-shadow: none!important;
}

.logo{
  font-family: 'Zhi Mang Xing', cursive;
  line-height: 45px;
  font-size: 2.4em;
  color: #189EFF;
  font-weight: 500;
}
.logo:hover{
  color: #189EFF;
}

/* -------------------------------------------------------------- */
.btn-mobile-bar {
  position: absolute;
  min-width: 45px;
  height: 45px;
  top: -10px;
  left: 0px;
  transition-duration: 0.5s;
}
.btn-mobile-bar .icon-left {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 15px;
  top: 30px;
  background-color: #189EFF;
}
.btn-mobile-bar .icon-left:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #189EFF;
  content: "";
  top: -10px;
}
.btn-mobile-bar .icon-left:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #189EFF;
  content: "";
  top: 10px;
}
.btn-mobile-bar .icon-left:hover {
  cursor: pointer;
}
.btn-mobile-bar .icon-right {
  transition-duration: 0.5s;
  position: absolute;
  height: 3px;
  width: 15px;
  top: 30px;
  background-color: #189EFF;
  left: 15px;
}
.btn-mobile-bar .icon-right:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #189EFF;
  content: "";
  top: -10px;
}
.btn-mobile-bar .icon-right:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #189EFF;
  content: "";
  top: 10px;
}
.btn-mobile-bar:hover {
  cursor: pointer;
}

/* ______________CART-MOBILE_________________ */

.cart-mobile {
  position: absolute;
  min-width: 40px;
  height: 40px;
  top: 0px;
  right: 0px;
}

.cart-mobile .cart-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
  transition: all,.3s;
}
.cart-mobile .cart-toggle .cart-icon {
  position: relative;
  color: #999;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  transition: all,.3s;
}
.cart-mobile .cart-toggle .cart-icon .cart-amount {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  min-width: 15px;
  height: 15px;
  padding: 0 5px;
  font-size: .6875rem;
  background: #f5a623;
  color: #fff;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: -5px;
  z-index: 3;
  transition: all,.5s;
}

/* __________________SEARCH-MOBLIE______________________ */

.search-mobile-btn {
  position: absolute;
  min-width: 40px;
  height: 40px;
  top: 0px;
  right: 45px;
  
}
.search-mobile-btn .search-toggle {
  display: flex;
  align-items: center;
  align-content: center;
  height: 40px;
  transition: all,.3s;
}
.search-mobile-btn .search-toggle .search-icon {
  position: relative;
  color: #999;
  background: #f2f2f2;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100px;
  transition: all,.3s;
}
 
/* style addition for dropdown search */

.suggestsearch {
  max-height: 300px;
  overflow: auto;
}
.suggestsearch {
  position: absolute!important;
  top: calc(100% + 3px);
  left: 0;
  width: 100%;
  z-index: 401;
  background: #fff;
  box-shadow: 0 3px 30px rgba(0,0,0,.2);
}

.suggestsearch ul {
  margin: 0;
  padding: 0;
}

.suggestsearch ul li {
  list-style: none;
  display: block;
  border-bottom: 1px dotted #e6e6e6;
}

.suggestsearch ul li a {
  display: block;
  padding: 10px;
  padding-left: 70px;
  position: relative;
}
.suggestsearch ul li a img {
  position: absolute;
  top: 10px;
  left: 10px;
}
iframe, img {
  vertical-align: middle;
}
.suggestsearch ul li a h3 {
  font-size: .875rem;
  font-weight: 700;
  color: #333;
}

.wrap-suggestion .author {
  font-size: 0.875rem;
}

.suggestsearch ul li a .price {
  font-size: .8125rem;
  color: red;
  margin-right: 20px;
}

.suggestsearch ul li a .price_original {
  font-size: .8125rem;
  color: #999;
  text-decoration: line-through;
}

.suggestsearch ul li.selected, .suggestsearch ul li:hover{background:#e6e6e6}

.box-search{
  padding: 0px !important;
}
