.bg-f{
    background-color: #fff;
}
.float-left{
    float: left;
}
.pos-absolute{
    position: absolute !important;
}
.pos-relative{
    position: relative;
}
.mycontainer{
    width: 100%;
    display: flex;
    align-items: center;
}
.mycontainer  > a{
    font-family: "Lobster",'Segoe UI', Tahoma, Verdana, sans-serif;
}
a{
    text-decoration: none !important;
}
ul{
    list-style: none;
    margin-bottom: 0px !important;
}
ol{
    margin-bottom: 0px !important;
}
.nav > li >a {
    padding: 0px 21px;
    line-height: 45px;
    cursor: pointer;
    color: #6D6D6D;
    border-left: 0px solid #E1E1E1;
}
.dropdown-menu > li >a{
    cursor: pointer;
}
.navbar-right{
    flex-direction: row !important;
}
.navbar-right > li{
    border-left: solid 1px #eee;
}

.navbar-right > li :hover{
    background-color: #e1e1e1;
}

/*sidebar, detail menu, footer position and animation*/
#sidebar {
    width: 227px;
    height: 100%;
    overflow: auto;
    background-color: #28303a;
    position: absolute;
    top: 0px;
    left: -235px;
    z-index: 10;
}
#sidebar::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(200,200,200,0);
}
#sidebar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(128,139,156,0.2);
}
#detail-menu {
    position: relative;
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    background-color: #f6f6f6;
}
#sidebar, #detail-menu, #footer {
    transition: all 0.3s;
}
#sidebar + #detail-menu, #sidebar + #detail-menu + #footer {
    left: 0px;
}
#sidebar.active {
    left: 0px;
}
#sidebar.active + #detail-menu, #sidebar.active + #detail-menu + #footer {
    left: 227px;
}

#footer {
    width: 100%;
    background-color: #f6f6f6;
}

#list-sidebar > li {
    position: relative;
    border-bottom: 1px solid #2b3642;
}
#list-sidebar > li > a , .text-light > li {
    font-size: 14px;
    color: #b3cbdd;
    padding-left: 20px;
    border-bottom: 0px solid #585858;
}
#list-sidebar > li > a:hover {
    background-color: #444444;
}
#list-sidebar > li > a > i {
    font-size: 16px;
    width: 18px;
    margin-right: 5px;
}
/*#list-sidebar > li.active > a {
    color: #0b91d2;
    background-color: #171b21;
}*/
#list-sidebar > li > ul {
    background-color: #293141;
}

#list-sidebar, #list-sidebar ul/*, #list-sidebar li*/ {
    padding: 0;
    margin: 0;
    list-style: none;
}
#list-sidebar {
    margin-bottom: 25px;
}
#list-sidebar li a {
    text-decoration: none;
    display: block;
    padding: 5px;
    cursor: pointer;
    border-bottom: 0px solid #515151;
}
#list-sidebar li a.parent:after {
    font-family: FontAwesome;
    float: right;
    margin-right: 8px;
    content: "\f107";
}
#list-sidebar li a.collapsed:after {
    content: "\f105";
}
.hover-sidebar li > a{
    padding-left: 2rem !important;
    color: #7f8a9b;
}
.hover-sidebar li >a:hover{
    color: #fff;
    background-color: #171b21;
}

.hover-sidebar li > a:before{
    content: "\f101";
    font-size: 13px;
    font-family: FontAwesome;
    transition: margin ease 0.5s;
}
.hover-sidebar li > a:hover:before{
    margin-right: 20px !important;
}

/*dashboard page*/
.dash-field{
    background-color: #007bff;
}
.dash-header{
    background-color: rgba(255,255,255,0.1);
    color:#fff;
    opacity: 0.7;
    font-size: 13px;
}
.dash-body{
    font-size: 70px;
    color: #fff;
}
 .dash-body i{
    opacity: 0.3;
    transition:all 1s;
}
.dash-body i:hover{
    color: #fff;
    opacity: 1;
}
.dash-body h2{
    float: right !important;
    font-size: 45px;
    margin-top: 30px;
    font-weight: 300 !important;
}
.dash-footer{
    background-color: rgba(0,0,0,0.1);
}
.dash-footer a{
    text-decoration: none !important;
    color: #fff; 
    opacity: 0.7;   
}
.dash-footer a:hover{
    color: #fff;
    opacity: 1 !important;
}

.content-header{
    margin-top: 15px;
    padding: 15px;
    border: solid 1px #dcdcdc;
}
.content-header h3{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.content-body{
    padding: 15px;
    background-color: #fff;
    border: solid 1px #dcdcdc;
    border-top: none;
}

.modal-field{
    margin-bottom: 20px;
}

.font-20{
    font-size: 20px;
}
table td{
    vertical-align: unset !important;
}
tr > td:last-child{
    justify-content: center;
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: none;
    border-left: none;
    border-right: none;
}
tbody > tr:first-child > td:last-child{
    border-top: none;
}
td > button{
    margin:0 2px;
}
@media (min-width: 992px){
    #sidebar {
        left: 0px;
    }
    #sidebar + #detail-menu, #sidebar + #detail-menu + #footer {
        left: 0px;
        margin-left: 227px;
    }
    #sidebar.active + #detail-menu, #sidebar.active + #detail-menu + #footer {
        left: 0px;
        margin-left: 227px;
    }
   
}
@media screen and (max-width: 500px){
    .non-mobile{
        display: none;
    }
}
@media screen and (max-width: 380px){
    .non-ip5{
        display: none;
    }
}
@media screen and (max-width: 991px){
    .name-shop{
        display: none !important;
    }
    .hidden-lg{
        display: none;
    }
    .nav-link{
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}
@media screen and (min-width:768px){
    .order-dash{
        width: 50% !important;
        float: left;
    }
}

